@import '_colors.css';
:root {
  --playerOne-bg: var(--washed-blue-80);
  --playerTwo-bg: var(--washed-red-80);
  --playerThree-bg: var(--washed-green-80);
  --playerFour-bg: var(--washed-yellow-80);
  --drafting-bg: var(--light-blue-80);
  --projects-bg: var(--hot-pink-80);
  --messages-bg: var(--light-purple-80);
}