.home {
  padding: var(--spacing-extra-small, .25rem);

  display: grid;
  grid-gap: var(--spacing-small, .25rem);

  grid-template-rows: 10rem 1fr 1fr 10rem;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "playerOne drafting playerTwo"
                      "playerOne projects playerTwo"
                      "playerFour projects playerThree"
                      "playerFour messages playerThree";
}

.region {
  border-radius: var(--border-radius-3, .5rem);
}

.playerOne {
  composes: region;
  grid-area: playerOne;
}

.playerTwo {
  composes: region;
  grid-area: playerTwo;
}

.playerThree {
  composes: region;
  grid-area: playerThree;
}

.playerFour {
  composes: region;
  grid-area: playerFour;
}

.drafting {
  composes: region;
  grid-area: drafting;
}

.projects {
  composes: region;
  grid-area: projects;
}

.messages {
  composes: region;
  grid-area: messages;
}
